body{
     background-image: url(https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzF8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfDB8MHx8fDA%3D);
     background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Dancing Script', cursive;
}
.dclock{
    color: rgb(190, 236, 122);
    font-size: 90px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

